    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Metatavu Oy</h2>
                <p>
                  At Metatavu we believe that software development should be fair.
                </p>
                <p>
                  We provide high quality open source solutions and our clients get their products, on schedule and with resonable costs. 
                </p>
            </div>
        </div>
    </section>